.page.-post {
  & > .content {
    & > .container {
      & > .title {
        margin-bottom: $content-margin;
        font-size: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .15rem;
      }

      & > .rendered {
        line-height: 2em;

        .ext-googlemaps {
          margin: 3rem 0;
          width: 100%;
          line-height: 30vh;
          font-size: 0;
          line-height: 0;
          background-color: $color-background-darker;
        }

        img {
          display: block;
          margin: auto;
          max-width: 90%;
        }

        .exif {
          text-align: center;
          font-size: .75rem;
          font-family: monospace;
          color: $color-text-third;
          line-height: 1.2em;
        }

        p + .exif { margin-top: -0.5rem; }

        .embed, .embed-responsive {
          margin: 3rem 0;
        }

        table {
          margin: auto;
          max-width: 100%;
          border: 1px solid $color-table-border-first;
          border-collapse: collapse;

          thead + tbody,
          tbody + tfoot { border-top: 4px double $color-table-border-first; }

          th, td {
            padding: .15rem .5rem;
            // border: 1px solid $color-table-border-second;
          }

          tr + tr {
            border-top: 1px solid $color-table-border-second;
          }

          th + th,
          td + td {
            border-left: 1px solid $color-table-border-second;
          }
        }
      }
    }
  }
}
